@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

h1{color:blue;
  margin-top:40px;
  text-shadow: 2px 2px 2px yellow;
  
  
}




img{float:left;
    height:30%;
    width:30%;
    }
.preview{
  float:left;
    height:40%;
    width:40%;
   background-image:  url(../public/pokeball.ico);
    background-size:contain;

}
.attempter{display:flex;
 }

 dextext{
  padding: 100px;
 }

 .screen{
  background-color: rgb(117, 113, 113);
  margin:22px;
  
  margin-bottom:5px;
  padding-top:10px;
  padding-bottom:15px;
  border-radius:5%;
  border-style:double;
  border-color:black;
  width:350px;
  height:410px;

 }
 .screenon{
  background-color: grey;
  margin:22px;
  margin-bottom:5px;
  padding-top:10px;
  padding-bottom:15px;
  text-transform: 10px;
  padding-right:10px;
  margin-right:10px;
  border-radius:5%;
  border-style: double;
  border-color:black;
  width:340px;
  height:410px;

 }
.camera{
  height:12%;
  width:12%;
  margin-bottom:5px;

}
.camera2{
  height:6%;
  width:6%;
  filter: hue-rotate( 270deg);

}
.camera3{
  height:6%;
  width:6%;
  filter: hue-rotate( 180deg);

}
.camera4{
  height:6%;
  width:6%;
  filter: hue-rotate( 220deg);

}

.photo{
  text-align:center;
  margin-bottom:-20%;

}
.open{
  text-align: center;
}

    
body{
    background-color: lightslategray;
    text-align: center; 
    background-image: url(./components/pokemon.jpg);
    background-size:100%;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    font-weight: 800;

    }



/* EVERYTHING BELOW HERE IS FOR THE SWITCH*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  border-style: outset ;
  border-radius:34px;
  border-width:2px;
}
  
.switchOn {
  border-color:rgb(49, 154, 224);
}
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    
  }
  
  /* The slider */
  .slider {
    
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
   
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    border-style:solid;
    border-color:rgb(125, 20, 20);
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    margin-bottom:-3px;
    background-color: rgb(184,49,49);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black;
   
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #68bbff;
   
  }
  
  input:checked + .slider:before {
    content: "";
    background-color: rgb(255, 15, 15);
    text-align: center;
    font-size:small;
 -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    
    border-radius: 34px;
  }
  
  .slider.round:before {
   
    border-radius: 50%;
  }